<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/recipes">Recipe Book</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink='/recipes' routerLinkActive="active" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a routerLink='/shopping-list' routerLinkActive="active" class="nav-link">Shopping List</a>
        </li>

        <li class="nav-item dropdown navbar-light" dropdown>
          <a class="nav-link dropdown-toggle" dropdownToggle role="menu" id="manage">
            Manage
          </a>
          <div class="dropdown-menu" *dropdownMenu aria-labelledby="manage">
            <a class="dropdown-item">Save Data</a>
            <a class="dropdown-item">Fetch Data</a>
          </div>
        </li>
      </ul>
    </div>
</nav>