<div class="row">
    <div class="col-12">
        <form #editShoppingList="ngForm" (ngSubmit)="onAddIngredient()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input 
                        [(ngModel)]="model.name"
                        type="text" 
                        class="form-control" 
                        name="name">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                        [(ngModel)]="model.amount"
                        type="number" 
                        name="amount" 
                        class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button [disabled]="!editShoppingList.dirty" type="submit" class="btn btn-success mr-1">Add</button>
                    <button type="button" class="btn btn-danger mr-1">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>