<ng-container>
    <div class="row mt-5">
        <div class="col-12">
            <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div 
                class="btn-group"
                dropdown
                #dropdown="bs-dropdown" [autoClose]="false">
                <button 
                    id="button-basic"
                    class="btn btn-primary dropdown-toggle"
                    dropdownToggle 
                    type="button">
                    Manage Recipe
                </button>
                <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
                    <li class="menu-item"><a (click)="addToShoppingList()" class="dropdown-item" style='cursor: pointer;'>Add to Shopping List</a></li>
                    <li class="menu-item"><a (click)="onEditRecipe()" class="dropdown-item">Edit Recipe</a></li>
                    <li class="menu-item"><a class="dropdown-item">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{recipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li 
                    class="list-group-item"
                    *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.name}} - {{ingredient.amount}}
                </li>
            </ul>
        </div>
    </div>
</ng-container>
